{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Twisteer</title>
  </head>
  <body style="background-color: #F2F2F2;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #444D3A;">
    <a class="navbar-brand  text-white" href="#">Twisteer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% block menu %}
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link  text-white" href="/inicio">Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link  text-white" href="/logout">Cerrar Sesión</a>
        </li>
      </ul>
      <form class="form-inline" action="/buscar/" method="POST">
        {%csrf_token%}
        <input class="form-control mr-sm-2" name="usuario" type="search" placeholder="@usuario" aria-label="Search">
        <input name="enviar" class="btn btn-primary my-2 my-sm-0" type="submit" value="Buscar Usuario">
      </form>
    </div>
    {% endblock %}
  </nav>
    <div class="container">
      {%block contenido%}

      {%endblock%}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>