{%include 'base.html'%}
{%block contenido%}
<div class="row justify-content-md-center">
	<div class="col-md-8">
		<div class="card mt-3 shadow-lg bg-white rounded">
		    <div class="card-body">
		    	<h4>{{usuario}}</h4>
		      <form action="" method="POST">
		      	{%csrf_token%}
		      	<div class="form-row">
			      	<div class="form-group">
				      	<input type="hidden" class="form-control" name="usuario" value="{{usuario}}">
				    </div>
				</div>
				<div class="form-row">
				    <div class="form-group col-md-12">
				      	<label>Mensaje:</label>
			      		<input type="text" class="form-control" name="mensaje" maxlength="280">
			      	</div>
			    </div>
			    <div class="form-row">
			      	<div class="col-md-2">
			      	<input class="btn btn-primary" type="submit" name="enviar" value="Postear">
		      		</div>

		      	</div>
		      </form>
		    </div>
		</div>
	</div>
	{%for t in tweets%}
	<div class="col-md-8">
		<div class="card mt-3 shadow-lg bg-white rounded">
		    <div class="card-body">
		      <h4 class="card-title">{{ t.usuario }}</h4>
		      <p class="card-text text-ligth ">{{ t.contenido }}</p>
		      <span class="small">{{t.fecha}}</span>
		    </div>
		</div>
	</div>
	{%endfor%}
</div>
{%endblock%}
