{%include 'base2.html'%}
{%block menu%}
{%endblock%}

{%block contenido%}
<div class="row justify-content-md-center">
	<div class="col-md-3">
		<div class="card mt-3 shadow-lg bg-white rounded">
		    <div class="card-body">
		    	<h3 class="card-title">Inicio de Sesión</h3>
		      <form action="" method="POST">
		      	{%csrf_token%}
		      	<div class="form-row">
			      	<div class="form-group">
				      	<label>Usuario:</label>
				      	<input type="text" class="form-control" name="usuario">
				    </div>
				</div>
				<div class="form-row">
				    <div class="form-group">
				      	<label>Constraseña:</label>
			      		<input type="text" class="form-control" name="password" maxlength="40">
			      	</div>
			    </div>
				<div class="form-row">
			      	<div class="col-md-12">
			      	<input class="btn btn-primary" type="submit" name="enviar" value="Iniciar Sesión">
		      		</div>
		      	</div>
		      </form>
		      <div>
		      	<span class="text-warging">{{mensaje}}</span>
		      </div>
		    </div>
		</div>
	</div>
	{%for t in tweets%}
	<div class="col-md-8">
		<div class="card mt-3 shadow-lg bg-white rounded">
		    <div class="card-body">
		      <h4 class="card-title">{{ t.usuario }}</h4>
		      <p class="card-text text-ligth ">{{ t.contenido }}</p>
		      <span class="small">{{t.fecha}}</span>
		    </div>
		</div>
	</div>
	{%endfor%}
</div>
{%endblock%}
